body {
    margin: 0;
    padding: 0;
    color: #ccc;
    background-color: #000000;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

header {
    background-color: black;
    text-align: center;
}

.main-visual {
    background-color: #000000;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center; 
}

.titlechoose {
    text-align: center; 
    justify-content: center; 
    font-size: 32px;
    padding: 10%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.selectedCharacter {
    display: flex;
    justify-content: center; 
}

.characterimg {
    width: 30%;
}

#selectedCharacter{
    font-size: 32px;
    font-weight: bolder;
    padding: 5%;
    color: #f9f913;
}

.taisen{
    font-size: 32px;
    font-weight: bolder;
    padding: 5%;
}



.selectedChar{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}

#enermy {
    display: flex;
    justify-content: center; 

}
.image{
    width: 30%

}

#playerselect{
    font-size: 32px;
    font-weight: bolder;
    padding: 5%;
}

#computerselect{
    font-size: 32px;
    font-weight: bolder;
    padding: 5%;
}

#resultMsg{
    font-size: 32px;
    font-weight: bolder;
    padding: 5%;
}

h1 {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(14px + 4vw);
    font-weight: 700;
    color: #ecc237;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #4bbcd8;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 12.5s linear forwards;
}

h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

h1::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h1::after {
    animation: crack2 5.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

#win-img, #lose-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
  }

  .img-click-effect {
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    
  }
  
  .img-click-effect:hover {
    background-color: yellow;
    transform: scale(1.2);
  }


